/*
Theme Name:   Fancy Fifteen
Theme URI:    https://github.com/ReveWeber/fancyfifteen
Description:  Twenty Fifteen Child Theme with miscellaneous additions
Author:       Rebecca Weber
Author URI:   https://aquilinoarts.com
Template:     twentyfifteen
Version:      1.0.0
License:      GNU General Public License v2 or later
License URI:  http://www.gnu.org/licenses/gpl-2.0.html
Tags:         light, two-columns, left-sidebar, responsive-layout, accessibility-ready
Text Domain:  fancyfifteen
*/

/***** Accordion-Folding Widgets *****/
/* Styling on .widget-title and .accordion-arrow (plus :after) mimics the native .menu-item-has-children and .dropdown-toggle (:after) styling. */

.widget-title {
    position: relative;
    padding: 0.8em 48px 0.8em 0;
    border-bottom: 1px solid #eaeaea;
    border-bottom: 1px solid rgba(51, 51, 51, 0.1);
}

.accordion-arrow {
    position: absolute;
    box-sizing: content-box;
    height: 42px;
    position: absolute;
    text-transform: lowercase;
    top: 3px;
    right: 0;
    width: 42px;
}

.accordion-arrow:after {
    content: "\f431";
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-family: "Genericons";
    font-size: 24px;
    font-weight: normal;
    line-height: 42px;
    speak: none;
    text-align: center;
    text-decoration: inherit;
    text-transform: none;
    vertical-align: top;
    position: relative;
    top: 0;
    left: 1px;
    width: 42px;
}

.tab-opened .accordion-arrow:after {
    content: "\f432";
}

@media screen and (min-width: 46.25em) {
    .widget-title {
        padding: 1em 48px 1em 0;
    }
} /* min-width: 46.25em */

@media screen and (min-width: 55em) {
    .widget-title {
        padding: 0.75em 48px 0.75em 0;
    }
} /* min-width: 55em */

@media screen and (min-width: 59.6875em) {
    .widget-title {
        padding: 0.5em 30px 0.5em 0;
    }
    .accordion-arrow {
        height: 24px;
        width: 24px;
    }
    .accordion-arrow:after {
        line-height: 24px;
        font-size: 16px;
        width: 24px;
    }
} /* min-width: 59.6875em */

@media screen and (min-width: 68.75em) {
    .widget-title {
        padding: 0.4643em 34px 0.4643em 0;
    }
    .accordion-arrow {
        height: 28px;
        width: 28px;
    }
    .accordion-arrow:after {
        line-height: 28px;
        width: 28px;
    }
} /* min-width: 68.75em */

@media screen and (min-width: 77.5em) {
    .widget-title {
        padding: 0.5em 38px 0.5em 0;
    }
    .accordion-arrow {
        height: 32px;
        width: 32px;
        top: 4px;
    }
    .accordion-arrow:after {
        line-height: 32px;
        width: 32px;
    }
} /* min-width: 77.5em */

/***** Flickity-Powered Carousel from Media Library Assistant Gallery *****/

.carousel-js-on {
    height: 200px;
    position: relative;
}

.carousel-js-on .carousel-item {
    height: 100%;
}

.carousel-js-on img {
    height: 100%;
    width: auto;
    max-width: none;
}

.flickity-enabled:focus .flickity-viewport {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
}

/***** Fixed Sidebar with Attractive Scrollbar *****/
@media screen and (min-width: 59.6875em) {
	.sidebar {
		height: 100%;
		position: fixed;
		overflow: scroll;
	}
	
	.hide-scroll {
		overflow: hidden;
	}
} /* min-width: 59.6875em */

/***** Closing up space in the widget list; could be used with accordions or fixed sidebar even if separate *****/
/* just matching space under to line height of accordion-arrow. */

.widget {
    margin-bottom: 42px;
}

@media screen and (min-width: 59.6875em) {
    .widget {
        margin-bottom:24px;
    }
} /* min-width: 59.6875em */

@media screen and (min-width: 68.75em) {
    .widget {
        margin-bottom: 28px;
    }
} /* min-width: 68.75em */

@media screen and (min-width: 77.5em) {
    .widget {
        margin-bottom: 32px;
    }
} /* min-width: 77.5em */